@page
@model DBRadio.Pages.ZapisiP.CreateModel

@{
    ViewData["Title"] = "Создать новую запись";
}

<h1>Создать новую запись</h1>

<h4>Записи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zapisi.Record_ID" class="control-label"></label>
                <input asp-for="Zapisi.Record_ID" class="form-control" />
                <span asp-validation-for="Zapisi.Record_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.Name" class="control-label"></label>
                <input asp-for="Zapisi.Name" class="form-control" />
                <span asp-validation-for="Zapisi.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.PerformerID" class="control-label"></label>
                <input asp-for="Zapisi.PerformerID" class="form-control" />
                <span asp-validation-for="Zapisi.PerformerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.Albom" class="control-label"></label>
                <input asp-for="Zapisi.Albom" class="form-control" />
                <span asp-validation-for="Zapisi.Albom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.Year" class="control-label"></label>
                <input asp-for="Zapisi.Year" class="form-control" />
                <span asp-validation-for="Zapisi.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.GenreID" class="control-label"></label>
                <input asp-for="Zapisi.GenreID" class="form-control" />
                <span asp-validation-for="Zapisi.GenreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.RecordDate" class="control-label"></label>
                <input asp-for="Zapisi.RecordDate" class="form-control" />
                <span asp-validation-for="Zapisi.RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.Duration" class="control-label"></label>
                <input asp-for="Zapisi.Duration" class="form-control" />
                <span asp-validation-for="Zapisi.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zapisi.Rating" class="control-label"></label>
                <input asp-for="Zapisi.Rating" class="form-control" />
                <span asp-validation-for="Zapisi.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
