@page
@model DBRadio.Pages.IspolniteliP.CreateModel

@{
    ViewData["Title"] = "Создать новую запись";
}

<h1>Создать новую запись</h1>

<h4>Исполнители</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ispolniteli.Perfomer_ID" class="control-label"></label>
                <input asp-for="Ispolniteli.Perfomer_ID" class="form-control" />
                <span asp-validation-for="Ispolniteli.Perfomer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ispolniteli.Name" class="control-label"></label>
                <input asp-for="Ispolniteli.Name" class="form-control" />
                <span asp-validation-for="Ispolniteli.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ispolniteli.Discription" class="control-label"></label>
                <input asp-for="Ispolniteli.Discription" class="form-control" />
                <span asp-validation-for="Ispolniteli.Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
